html, body, #root {
  height: 100%;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #eee;
}

nav a.active:not(.navbar-brand), 
  nav a:hover:not(.navbar-brand) { 
  text-decoration: underline;
}

.landing-hero-image {
  background-image: url(/images/dog.jpeg);
  background: cover;
  min-height: 700px;
}

/* .landing-post:nth-child(even) {
background: #d4d4d4;
} */
 .landing-post {
  position: relative;
 }

.landing-post:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  background: #f6f6f6;
  width: 7px;
  height: 100%;
}


.pet-output {
  grid-template-columns: repeat(3, 1fr);
}